.Button {
  font-size: 0.8rem;
  align-self: center;
  border-radius: 100px;
  border-color: transparent;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
}

.CatButton {
  border-radius: 25px;
  border-color: transparent;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
}

.CatButton:Focus {
  background-color: #356933;
  border-color: transparent;
}

.Button:hover {
  opacity: 0.8;
  border-color: transparent;
  cursor: pointer;
}

.Button:focus {
  background-color: #356933;
  border-color: transparent;
  color: #fff;
}

.Green {
  background-color: #01C503;
  color: #000;
}

.Green:Hover {
  background-color: #356933;
  color: #fff;
}

.Green:Focus {
  color: #fff;
  border-color: transparent;
}

.DarkGreen {
  background-color: #356933;
  color: #fff
}

.DarkGreen:hover {
  background-color: #01C503;
  color: #000;
}

.DarkGreen:Focus {
  background-color: #01C503;
  color: #000;
  border-color: transparent;
}