.DropdownItem {
    display: inline-block;
    color: #fff;
    max-width: 50%;
    padding: 0px;
  }
  
  .Absolute {
    position: absolute;
    right: 0;
    z-index: 99;
  }

  .DeleteIcon, .DeleteIcon:hover {
    color: red;
  }

  .EditIcon {
    color: #01C503;
  }