.NavBar {
    background-color: #141414;
    color: #C9A588;
}

.Logo {
    display: flex;
}

h1 {
    color: #356933;
}

.NavLink, i {
    color: #C9A588;
    font-size: 1rem;
    padding: 7px;
    vertical-align: middle;
}

.NavLink:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #356933;
}

i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #356933;
}

.NavBurger {
    background-color: #C9A588;
}

.Active {
    color: #356933
}