.Row {
    height: calc(100vh - 81px);
}

.Form {
    background-color: #141414;
}

.Input {
    background: #141414;
    border: 1px solid #C9A588;
    box-sizing: border-box;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.Input:hover {
    border: #fff 2px solid;
}

.Input:focus {
    background: #000;
    color: #fff;
}

.Header {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding-bottom: 20px;
    color: #C9A588;
}

.Link {
    text-decoration: none;
    text-align: center;
    display: block;
    margin: auto;
    color: #C9A588;
}

.Link:hover {
    color: #356933;
}

.Link span {
    color: #356933;
}

.Container {
    padding: 30px 10px;
    background-color: #141414;
}

.SignInCol {
    height: 320px;
}

.SignUpCol {
    height: 375px;
}